body {
  background: $color-body;
  text-align: center;
}

.checkcontainer__label {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  @include font-italic(18px, 600);
}

.container {
  display: grid;
  grid-template-columns: repeat($columns, $edge);
  grid-template-rows: repeat($rows, $edge);
  grid-gap: $gap;
  justify-content: center;
}

.item {
  position: relative;
  border-radius: 60px;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    width: $edge;
    height: $edge;
    background: $color-items;
    transition: background 6s;
  }

  &:hover::after {
    background: $color-items-hover;
    transition: background 0s;
  }
}

// I let it be circle

.checkcontainer__input:checked {

  & + .container .item {
    transition: background 6s;
    width: 60px;
    height: 60px;
    @include border(1px);
  }

  & + .container .item::after {
    display: none;
  }

  & + .container .item:hover {
    background: $color-items-hover;
    transition: background 0s;
  }
}

